@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

html,
body {
  font-family: $font-family-sans-serif;
}

body {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.modal-backdrop {
  background-color: #6c757d;
}

.modal-content {
  background-color: #fff;
  border: none;
}

.modal-header {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  
  .modal-title {
    color: #000;
  }
  
  .btn-close {
    filter: none;
  }
}

.modal-body {
  background-color: #fff;
  
  #timeText {
    color: #000;
  }
}

.modal-footer {
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    
    &:hover {
      background-color: #5a6268;
      border-color: #5a6268;
    }
  }
}
